<div class="panel panel-filters">
    <div class="panel-heading">
        <div class="panel-heading-title">Filtre</div>
        <div class="panel-heading-subtitle">Rafinati cautarea folosind filtre</div>
    </div>

    <div class="panel-body">
        <div class="search-filters">
            <div class="search-options"></div>
            <div class="content"></div>
        </div>
    </div>
</div>
<div class="search-hint">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <h3 class="m-t-0">Interogarea datelor</h3>
                <p>
                    Textul interogarii este analizat într-o serie de termeni si operatori. Un termen poate fi un singur cuvânt — quick sau brown — sau o frază,
                    înconjurata de ghilimele duble — "quick brown" — care caută toate cuvintele din frază, în aceeași ordine.
                </p>
                <h4>Wildcards</h4>
                <p>
                    Cautarile de tip Wildcard pot fi rulate pe termeni individuali, folosind ? pentru a inlocui un singur caracter, si * pentru a inlocui zero sau mai multe caractere:
                </p>
                <pre class="literal">qu?ck bro*</pre>
                <p>
                    Rețineți că interogările wildcard pot folosi o cantitate enormă de memorie și pot funcționa foarte lent.
                </p>
                <h4>Fuzziness</h4>
                <p>
                    Putem căuta termeni care sunt similari, dar nu exact ca termenii noștri de căutare, folosind operatorul „fuzzy”:
                </p>
                <pre class="literal">quikc~ brwn~ foks~</pre>
                <p>
                    Distanța de editare implicită este 2, dar o distanță de editare de 1 ar trebui să fie suficientă pentru a surprinde 80% din toate greșelile de ortografie umane. Poate fi specificat ca:
                </p>
                <pre class="literal">quikc~1</pre>
            </div>

            <div class="item">
                <h4 class="m-t-0">Proximitate</h4>
                <p>
                    În timp ce o interogare de expresie (de exemplu, „john smith”) așteaptă toți termenii în exact aceeași ordine, o interogare de proximitate permite cuvintelor specificate să fie mai departe sau într-o ordine diferită. În același mod în care interogările neclare pot specifica un maxim editați distanța pentru caracterele dintr-un cuvânt,
                    o căutare de proximitate ne permite să specificăm o distanță maximă de editare a cuvintelor într-o frază:
                </p>
                <pre class="literal">"fox quick"~5</pre>

                <h4>Amplificare</h4>
                <p>
                    Folositi operatorul <span class="emphasis"><em>boost</em></span> <code class="literal">^</code> pentru a face un termen mai relevant decât altul.
                    De exemplu, dacă vrem să găsim toate documentele despre vulpi, dar ne interesează mai ales vulpile rapide:
                </p>
                <pre class="literal">quick^2 fox</pre>
                <p>
                    Valoarea implicita <code class="literal">boost</code> este 1, dar poate fi orice număr pozitiv în virgulă mobilă.
                    Amplificarile între 0 și 1 reduc relevanța.
                </p>
                <p>Amplificarea poate fi aplicată și frazelor sau grupurilor:</p>
                <pre class="literal">"john smith"^2   (foo bar)^4</pre>
            </div>

            <div class="item">
                <h4 class="m-t-0">Operatori booleeni</h4>
                <p>În mod implicit, toți termenii sunt opționali, atâta timp cât un termen se potrivește. O căutare după <code class="literal">foo bar baz</code> va găsi orice document care conține unul sau mai multe dintre <code class="literal">foo</code> sau <code class="literal"> bar</code> sau <code class="literal">baz</code>.
                    Dar există și <span class="emphasis"><em>operatori booleen</em></span> care pot fi utilizați în șirul de interogare în sine pentru a oferi mai mult control.</p>
                <p>Operatorii preferati sunt <code class="literal">+</code> (acest termen <span class="strong"><strong>trebuie</strong></span> sa fie prezent) si <code class="literal">-</code>
                    (cest termen <span class="strong strong"><strong>nu trebuie</strong></span> sa fie prezent). Toți ceilalți termeni sunt opționali.
                    De exemplu, această interogare:</p>
                <pre class="literal">quick brown +fox -news</pre>
                <p>afirmă că:</p>
                <ul type="disc">
                    <li><code class="literal">fox</code> trebuie sa fie prezent</li>
                    <li><code class="literal">news</code> nu trebuie sa fie prezent</li>
                    <li><code class="literal">quick</code> si <code class="literal">brown</code> sunt optionali — prezenta lor creste relevanta rezultatelor</li>
                </ul>
                <p>Operatorii cunoscuti <code class="literal">AND</code>, <code class="literal">OR</code> si <code class="literal">NOT</code> (sau <code class="literal">&amp;&amp;</code>, <code class="literal">||</code> si <code class="literal">!</code>)
                    sunt de asemenea suportati. Cu toate acestea, efectele acestor operatori pot fi mai complicate decât este evident la prima vedere.  <code class="literal">NOT</code> are prioritate asupra
                    <code class="literal">AND</code>, care are prioritate asupra <code class="literal">OR</code>.  <code class="literal">+</code> si <code class="literal">-</code> afectează numai termenul din dreptul operatorului, in timp ce <code class="literal">AND</code> si <code class="literal">OR</code> pot afecta termenii din stânga și din dreapta.</p>
            </div>

            <div class="item">
                <h4 class="m-t-0">Grupare</h4>
                <p>Mai mulți termeni sau clauze pot fi grupați împreună cu paranteze, pentru a forma sub-interogări:</p>
                <pre class="literal">(quick OR brown) AND fox</pre>
                <p>Grupurile pot fi folosite pentru a spori rezultatul unei sub-interogări:</p>
                <pre class="literal">(active OR pending) AND (full text search)^2</pre>

                <h4>Caractere rezervate</h4>
                <p>Dacă trebuie să utilizați oricare dintre caracterele care funcționează ca operatori în interogarea dvs. în sine (și nu ca operatori), atunci ar trebui să le prefixati cu o bară oblică inversă. De exemplu, pentru a căuta <code class="literal">(1+1)=2</code>, va trebui să scrieți interogarea ca <code class="literal">\(1\+1\) \=2</code>.</p>
                <p>Personajele rezervate sunt:  <code class="literal">+ - = &amp;&amp; || &gt; &lt; ! ( ) { } [ ] ^ " ~ * ? : \ /</code></p>
                <p>Nerespectarea corectă a acestor caractere speciale poate duce la o eroare de sintaxă care împiedică rularea interogării.</p>
                <p><strong>Nota:</strong><code class="literal">&lt;</code> si <code class="literal">&gt;</code> nu poate fi utilizate deloc. Singura modalitate de a le împiedica să încerce să creeze o interogare de interval este să le eliminați complet din șirul de interogare.</p>
            </div>

            <div class="item">
                <h4 class="m-t-0">Filtre</h4>
                <p>Panoul Filtre din partea stângă poate fi folosit pentru a construi vizual scenarii de căutare avansată bazate pe o mare varietate de predicate:</p>
                <ul>
                    <li>Puteți filtra după Tipul de concept sau Tipul de relație alegând unul sau mai multe elemente din lista verticală.</li>
                    <li>Puteți filtra după una sau mai multe proprietăți din modelul de date alegând o proprietate și un predicat de căutare.</li>
                    <li>Puteți sorta rezultatele căutării folosind una sau mai multe proprietăți.</li>
                </ul>

                <h4 class="m-t-2">Rafinamente</h4>
                <p>Rafinările sunt filtre bazate pe conținut care sunt disponibile odată ce rezultatele căutării sunt afișate.
                    Le puteți folosi pentru a detalia rezultatele căutării pentru a afla informații mai detaliate despre un anumit subiect.
                    Odată ce aplicați o rafinare, aceasta va fi afișată deasupra rezultatelor căutării și o puteți elimina oricând.</p>
                <p>Orice proprietate modelului de date poate acționa ca o rafinare, atâta timp cât este configurată pentru a fi indexată. Este suficient activarea "Searchable" si
                    "Search Facet" pentru o proprietate și va fi afișată în secțiunea de rafinare.</p>

                <h4 class="m-t-2">Salvarea cautarilor</h4>
                <p>Interogările pot fi salvate pentru utilizare ulterioară, dar, mai important, ele pot fi adăugate la tabloul de bord pentru a construi diferite tipuri de agregare.</p>
            </div>
        </div>

        <div class="carousel-controls">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="search-results" data-width-preference="searchResults">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-heading-title">Results (<span class="total-hits"></span>)</span>
            <div class="panel-heading-controls">
                <div class="btn-group btn-group-sm" data-toggle="tooltip" data-placement="bottom" title="Export selected records">
                    <button class="btn btn-info btn-outline dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="wordIcon" href="#">WORD</a></li>
                        <li><a id="xlsIcon" href="#">XLS</a></li>
                        <li><a class="pdfIcon" href="#">PDF</a></li>
                        <li><a class="xmlIcon" href="#">XML</a></li>
                    </ul>
                </div>

                <select id="res-per-page" class="custom-select form-control">
                    <option value="10" selected>10 per page</option>
                    <option value="25">25 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                    <option value="200">200 per page</option>
                    <option value="500">500 per page</option>
                </select>
            </div>
        </div>
        <div class="panel-body">
            <div class="content scrollNode">
                <div class="result-list"></div>
            </div>
        </div>
    </div>

    <div class="text-center search-pagination">
        <div class="pagination pagination-wrapper">
             <nav aria-label="Page navigation">
                <ul class="std pagination"></ul>
             </nav>
        </div>
    </div>
</div>

<div class="panel panel-refinements" style="display: none;">
    <div class="panel-heading">
        <div class="panel-heading-title">Refinements</div>
        <div class="panel-heading-subtitle">Drill down through search results</div>
    </div>
    <div class="panel-body">
        <div class="search-refinements"></div>
    </div>
</div>



