{{ i18n 'alias.case.plural' }} afiseaza o lista cu toate
<span data-selector=".menubar-pane .workspaces">{{ i18n 'alias.case.plural.lowerCase' }}</span>, unde
<span data-selector=".workspace-overlay h1 .name">curent {{ i18n 'alias.case.lowerCase' }}</span>
este selectat. Puteti partaja {{ i18n 'alias.case.lowerCase' }} cu alti utilizatori din acest meniu.
