/data/
target/
.settings/
.project
.classpath
.DS_Store
*.swp
coverage-error.log
cobertura.ser
catalog-v001.xml
_site
docs/_book/
logs/
dependency-reduced-pom.xml
datastore/
*.iml
.idea/
npm-debug.log
run/
tmp/
bolt.cert
bolt.key
