{
  "plugins": [
    "styled-components"
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false,
        "targets": {
          "browsers": ["since 2015", "ie >= 11"]
        }
      }
    ]
  ]
}
