<div>
    <div class="preview"></div>
    <div class="active-preview"></div>
</div>
<div class="infoSearch">
   <div>{{ title }}</div>
    <div>
        <span class="source">{{ subtitle }}</span>
        <span class="date pull-right">{{ timeSubtitle }}</span>
    </div>
</div>
