<span class="qb-toggle">Visual Query Builder</span>
<div class="qb-container"></div>
<div class="qb-return-div"><span class="qb-return-label">Return: </span><input type="text" class="qb-return-input" /></div>
<div class="qb-reset-button"><span class="qb-sb-text">RESET</span></div>
<div class="qb-search-button"><span class="qb-sb-text">SEARCH</span></div>
