<div class="menubar-pane">
  <div class="content"></div>
</div>

<div class="ingest-pane">
    <div class="content"></div>
</div>

<div class="dashboard-pane"></div>

<div class="search-pane">
</div>

<div class="products-pane" data-width-preference="products">
    <div class="content"></div>
    <div class="collapseicon">
        <div class="tooltip">Analysis Tools</div>
    </div>
</div>

<div class="workspaces-pane">
  <div class="content popover"></div>
</div>

<div class="admin-pane"></div>

<div class="activity-pane">
  <div class="content popover"></div>
</div>

<div class="detail-pane" data-width-preference="detail">
  <div class="content"></div>
</div>

<div class="workspace-overlay"></div>

<div class="workspace-timeline"></div>

<div class="help-dialog modal hide"></div>

<div class="quicksearch-pane">
  <div class="content popover"></div>
</div>