<div class="logo-container">
    <div class="logo-content">
        <div class="text-center">
            <img src="img/logo_white.png">
        </div>
        <h2>Explorer</h2>
    </div>
</div>

<div class="authentication">
    <div class="authentication-box">
        <div class="authentication-box-content">
        </div>
    </div>
</div>
