<div class="property-selector"></div>
<div class="current-property" style="display:none">
	<div class="filter-body">
		<div class="header">
            <label>
                <span><!-- Property Display Name --></span>
            </label>
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"></a>
                <ul class="dropdown-menu"></ul>
            </div>
            <div class="btn-group group-actions">
                <button class="group-icon-up">
                    <i class="material-icons">keyboard_arrow_up</i>
                </button>
                <button class="group-icon-down">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <button class="group-icon-left">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <button class="group-icon-right">
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
                <button class="group-icon-group">
                    <i class="material-icons">call_merge</i>
                </button>
                <button class="group-icon-remove remove-icon pull-right">
                </button>
            </div>
		</div>
		<div class="fields">
			<div class="configuration"></div>
		</div>
	</div>
</div>
