<li class="entity-filter-row" data-filter-key=" relatedToVertexIds">
    <div class="current-property">
        <h5 class="filter-section-title">{{ i18n 'search.filters.related_to' }}</h5>
        <button class="remove-icon">{{ i18n 'search.filters.button.remove' }}</button>
    </div>
    <div class="configuration">
        <input class="form-control" readonly type="text" value="{{ title }}"></input>
    </div>
</li>
