<div class="ref-item-list">
    {{#each refItems}}
        <div class="ref-item">
            <a href="#" class="ref-item-link" bucket-key="{{refItemKey}}">
                {{refItemText}}
            </a>
            <div class="ref-item-count">{{refItemCount}}</div>
        </div>
    {{/each}}
</div>
