<div class="workspace-name">
    <i class="material-icons">dashboard</i>
    <span class="workspaceName"></span>
</div>
{{#if publishPrivilege}}
<h1><span class="name">Schimbari spatiu: </span></h1>
{{/if}}
<button class="toggle-timeline btn btn-link">Timeline</button>
