<ul class="workspaces-list nav nav-pills nav-stacked pull-left">
    <li class="list-item nav-header">
        <h5>{{ i18n 'workspaces.list.header' }}</h5>
        <span class="loading badge"></span>
    </li>
</ul>

<div style="display:none" class="workspace-form pull-right">
  <div class="content"></div>
</div>
