<div class="panel">
    <div class="panel-heading">
        <div class="panel-heading-title">Registered UI Extensions</div>
        <div class="panel-heading-subtitle text-muted">
            Browse registered and active BigConnect UI Extensions
        </div>
    </div>

    <div class="panel-body p-a-4">
        <div class="admin-plugin-list">
        </div>
    </div>
</div>