<div class="vertex-selection">
  <div class="preview"></div>
  <input 
    autocomplete="off" 
    placeholder="{{ defaultText }}" 
    type="text"
    class="form-control"
    value="{{ value }}">
  <span class="badge"></span>
</div>
