<select class="custom-select form-control">
  <option value="">{{ i18n placeholderKey displayName }}</option>
  {{#each values}}
  <option value="{{ value }}">{{ display }}</option>
  {{/each}}
</select>
