<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 admin-left-pane">
            <ul class="admin-list nav nav-pills nav-stacked"></ul>
        </div>

        <div class="col-md-10 admin-right-pane">
            <div style="display:none" class="admin-form" data-width-preference="adminForm">
                <div class="content"></div>
            </div>
        </div>
    </div>
</div>
