<div class="form">
    <div class="errors"></div>
    <div class="alert">
        <strong>{{ i18n 'detail.confirm.form.warning' }}</strong>
        <p>{{ message }}</p>
    </div>
    <div class="buttons">
        <button class="btn btn-raised btn-sm btn-default cancel">{{ i18n 'detail.confirm.form.button.cancel' }}</button>
        <button class="btn btn-raised btn-sm btn-danger">{{ i18n 'detail.confirm.form.button.confirm' }}</button>
    </div>
</div>
