<div class="com-bc-structuredFile-text-table">
  <div class="buttons">
    <button class="btn btn-primary btn-sm btn-raised">{{ i18n 'csv.file_import.mapping.button' }}</button>
  </div>
  <div class="table">{{ i18n 'csv.file_import.mapping.loading' }}</div>
</div>
