<section class="collapsible">
    <h1 class="collapsible-header">
        <div class="collapsible-header-title">
            <i class="material-icons">folder_open</i>
            <strong>{{ i18n 'detail.comments.title' }} (<span class="results"></span>)</strong>
        </div>
        <hr/>
    </h1>
    <div class="comment-content">
        <ul></ul>
    </div>
</section>
